body{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hack-slider {
    width: 70%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);



}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav.navbar-right li a{
    color: rgba(255, 255, 255, .7);
    font-family: "Consolas";
    font-size: 18px;
}

.hack-slider .slide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, .7);
    font-family: "Consolas";
    display: none;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, .4);
    text-align: center;

}

.hack-slider .shapes .shape {
    background: #000;
    position: absolute;
}

.hack-slider .slide:first-child {
    display: block;
}

.hack-slider .arrow:hover {
    opacity: 1;
}

body {
    background: #000;
}


html {
    overflow: hidden;
}

ul.nav a:hover {
    background-color: black;
}

a {
    background-color: black;
}
.navbar-nav li.active > a {
    background-color: black;

}

.dropdown-menu{
    background-color: black;
}


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@keyframes blurrrrr {
    0%    { filter: blur(30px); }
    20%   { filter: blur(24px); }
    40%   { filter: blur(18x); }
    60%   { filter: blur(12px); }
    80%   { filter: blur(6px); }
    100%  { filter: blur(0px); }
}


#image{
    width: 14%;
    opacity: .875;
    filter: blur(30px);
    animation: blurrrrr 1s;
    filter: blur(0px);
}











